{{#unless outer}}

  <header id="chest">
    <div class="inner">

      <nav>
        {{#link-to "index"}}Dashboard{{/link-to}}
        {{#link-to "pages"}}Pages{{/link-to}}
        {{#link-to "users"}}Users{{/link-to}}
        {{#link-to "media"}}Media{{/link-to}}
        <a href="#" {{action 'logout'}}>Logout</a>
      </nav>

      <a href="/admin" class="logo" {{action "openModal" "media-modal"}}></a>

      {{#toggle-nav}}
        <span>
          <b></b>
          <b></b>
          <b></b>
        </span>
      {{/toggle-nav}}

    </div>
  </header>

  <main id="belly">

    <aside id="title">
      <div class="inner">

        {{#if editableTitle}}

          <h1 contenteditable="true">{{pageTitle}}</h1>

          <nav>
            <a href="#" class="current">Content</a>
            <a href="#">Sidebar</a>
            <a href="#">Options</a>
          </nav>

        {{else}}
          <h1>{{pageTitle}}</h1>
        {{/if}}

        {{#if list}}
          <a href="#" class="add" id="add-file">&plus;</a>
        {{/if}}

      </div>
    </aside>

    <section id="content" class={{divide}}>
      {{#if message}}
        <p class="message {{message.type}}">{{message.content}}</p>
      {{/if}}

      {{~outlet~}}
    </section>

  </main>

  <footer id="ass">

    <div class="inner">
      <a href="http://muffin.cafe" target="_blank"></a>
      <p>You're using Muffin {{app-version}}, thank you!</p>
    </div>

  </footer>

  {{modal-overlay title="Choose an item" type="media-modal"}}

{{else}}
  {{outlet}}
{{/unless}}
