<table class="list">

  <thead>
    <tr>
      <td><input type="checkbox" class="above"></td>
      <td>Title</td>
      <td>Author</td>
      <td>Date</td>
    </tr>
  </thead>

  <tbody>

    {{#each model as |item|}}

    <tr>
      <td><input type="checkbox"></td>
      <td>

        <a href="/admin/pages/{{item.id}}" class="title">{{item.title}}</a>

        <ul>
          <li class="edit"><a href="/admin/pages/{{item.id}}">Edit</a></li>
          <li class="delete"><a href="/admin/pages/delete/{{item.id}}">Delete</a></li>

          {{#if item.author}}
            <li class="view"><a href="/{{item.slug}}" target="_blank">View</a></li>
          {{/if}}
        </ul>

      </td>

      {{#if item.author}}
        <td><a href="#" class="author">{{item.author}}</a></td>
      {{/if}}

      {{#if item.localeDates}}
        <td>{{item.localeDates.updated}}</td>
      {{/if}}

    </tr>

    {{/each}}

  </tbody>

  <tfoot>
    <tr>
      <td><input type="checkbox" class="above"></td>
      <td>Title</td>
      <td>Author</td>
      <td>Date</td>
    </tr>
  </tfoot>

</table>
