<table class="list">

  {{table-rows data=model}}

  <tbody>

    {{#each model as |item|}}

    <tr>
      <td>{{input type="checkbox" name=item.id}}</td>
      <td>

        {{#link-to "pages.edit" item class="title"}}
          {{item.title}}
        {{/link-to}}

        <ul>
          <li class="edit"><a href="/admin/{{routeName}}/{{item.id}}">Edit</a></li>
          <li class="delete"><a href="/admin/{{routeName}}/delete/{{item.id}}">Delete</a></li>

          {{#if item.author}}
            <li class="view"><a href="/{{item.slug}}" target="_blank">View</a></li>
          {{/if}}
        </ul>

      </td>

      {{#if item.author}}
        <td>
          {{#link-to "users.edit" item.author class="author"}}
            {{item.author}}
          {{/link-to}}
        </td>
      {{/if}}

      {{#if item.updatedAt}}
        <td>{{item.updatedAt}}</td>
      {{/if}}

    </tr>

    {{/each}}

  </tbody>

  {{table-rows data=model}}

</table>
