<aside id="sidebar">

  <details class="box" open>
    <summary>Filter</summary>
    <table class="filter">

      <tr>
        <td>Dates:</td>
        <td>
          <select>
            <option selected>All</option>
            <option>September 2015</option>
            <option>October 2015</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>File type:</td>
        <td>
          <select>
            <option selected>All</option>
            <option>Image</option>
            <option>Video</option>
            <option>Document</option>
            <option>Audio</option>
          </select>
        </td>
      </tr>

    </table>
  </details>

</aside>

<ul id="files">
  
  {{#each model as |file|}}

    <li>
      <figure>
        <img src="{{file.url}}">
      </figure>
    </li>

  {{/each}}

</ul>

{{#pl-uploader for="upload-image" extensions="jpg jpeg png gif" onInitOfUploader="onInitOfUploader" onfileadd="uploadImage" as |queue dropzone|}}
  <div class="dropzone" id={{dropzone.id}}>
    {{#if dropzone.active}}
      {{#if dropzone.valid}}
        Drop to upload
      {{else}}
        Invalid
      {{/if}}
    {{else if queue.length}}
      Uploading {{queue.length}} files. ({{queue.progress}}%)
    {{else}}
      <h4>Upload Images</h4>
      <p>
        {{#if dropzone.enabled}}
          Drag and drop images onto this area to upload them or
        {{/if}}
        <a id="upload-image">Add an Image.</a>
      </p>
    {{/if}}
  </div>
{{/pl-uploader}}
